<h3>The best plant store on the web! </h3>
<p>
The Jungle is your one stop location for all plant needs. Built by a team of the best web developers the galaxy has ever seen. Founded in 2020 by Treebeard the Ent.<br>
The Jungle is built with Ruby on Rails with payment processing by Stripe. It is a popular practice project for Lighthouse Labs students. Inheriting a functional but unfinished Jungle poses the unique challenge of exploring an unfamiliar app and dissecting it independently. Even simple tasks like re-formatting monetary amounts can take a lot of mental effort if the file structure is foreign to us. Thank goodness for the handy VSCode tools that let us quickly search for files within a directory. <br>

Oh? Still reading? Very well then. Time for a joke. What do you get from pouring root beer in a square glass? Regular beer! Oh, go on then: here's even <em>more</em> algebra... <br>
The Fundamental Theorem of Galois Theory asserts that if L is Galois over K, then these maps are inverses of each other, thus giving rise to a bijective correspondence between the set of subgroups of Gal(L/K) and the set of intermediate extensions of L over K. This is called the Galois correspondence.
</p>